@use 'theme-context' as *;
/*
 * SPDX-FileCopyrightText: 2026 The freelance-persona_theme Project Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*--------------------------------------------------------------
# Blog 
--------------------------------------------------------------*/
ol {
  list-style-type: none;
}

.post-entry {
  margin-bottom: 1.875rem; /* 30px */
}

.post-entry .post-meta {
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 0.625rem; /* 10px */
} 

.post-entry .post-meta .post-title {
  font-size: var(--subtitle-font-size);
}

.post-entry .post-meta .post-date {
  color: var(--color-gray);
  font-size: var(--normal-font-size);
  margin-left: 2.5rem; /* 40px */
  width: fit-content;
  white-space: nowrap;
}

.post-entry p {
  text-align: justify;
  margin-left: 1.25rem; /* 20px */
}
