/*
 * SPDX-FileCopyrightText: 2026 2026 The freelance-persona_theme Project Contributors
 * SPDX-FileCopyrightText: 2026, 2026 The freelance-persona_theme Project Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*--------------------------------------------------------------
# Plain Section
--------------------------------------------------------------*/
.plain .content h2 {
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
}

.plain .content ul {
  list-style: none;
  padding: 0;
}

.plain .content ul li {
  margin-bottom: 1.25rem; /* 20px */
  display: flex;
  align-items: center;
}

.plain .content ul strong {
  margin-right: 0.625rem; /* 10px */
}

.plain .content ul i {
  font-size: 1rem; /* 16px */
  margin-right: 0.3125rem; /* 5px */
  color: var(--accent-color);
  line-height: 0;
} 

.plain .content p {
  text-align: justify;
}

.plain img {
  width: 100%;
  display: flex;
  border-radius: var(--img-border-radius);
}
