/*
 * SPDX-FileCopyrightText: 2026 2026 The freelance-persona_theme Project Contributors
 * SPDX-FileCopyrightText: 2026, 2026 The freelance-persona_theme Project Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widgets-container {
  margin: 3.75rem 0 1.875rem 0; /* 60px 0 30px */
}

.widget-title {
  color: var(--heading-color);
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  padding: 0 0 0 0.625rem; /* 10px */
  margin: 0 0 1.25rem 0; /* 20px */
  border-left: 0.25rem solid var(--accent-color); /* 4px */
}

.widget-item {
  margin-bottom: 1.875rem; /* 30px */
  background-color: color-mix(in srgb, var(--default-color), transparent 98%);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  padding: 1.875rem; /* 30px */
  border-radius: 0.3125rem; /* 5px */
}

.widget-item:last-child {
  margin-bottom: 0;
}

.blog-author-widget img {
  max-width: 10rem; /* 160px */
}

.blog-author-widget h4 {
  font-weight: 600;
  font-size: 1.5rem; /* 24px */
  margin: 0.9375rem 0 0 0; /* 15px */
  padding: 0;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
} 

.blog-author-widget .social-links {
  margin: 0.3125rem 0; /* 5px */
}

.blog-author-widget .social-links a {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
  margin: 0 0.1875rem; /* 3px */
  font-size: 1.125rem; /* 18px */
} 

.blog-author-widget .social-links a:hover {
  color: var(--accent-color);
}

.blog-author-widget p {
  font-style: italic;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 0.625rem 0 0 0; /* 10px */
} 

.search-widget form {
  background: var(--background-color);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 75%);
  padding: 0.1875rem 0.625rem; /* 3px 10px */
  position: relative;
  border-radius: 3.125rem; /* 50px */
  transition: 0.3s;
} 

.search-widget form input[type=text] {
  border: 0;
  padding: 0.25rem 0.625rem; /* 4px 10px */
  border-radius: 0.25rem; /* 4px */
  width: calc(100% - 2.5rem); /* 40px */
  background-color: var(--background-color);
  color: var(--default-color);
} 

.search-widget form input[type=text]:focus {
  outline: none;
}

.search-widget form button {
  background: none;
  color: var(--default-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  font-size: 1rem; /* 16px */
  padding: 0 1rem; /* 16px */
  transition: 0.3s;
  line-height: 0;
} 

.search-widget form button i {
  line-height: 0;
}

.search-widget form button:hover {
  color: var(--accent-color);
}

.search-widget form:is(:focus-within) {
  border-color: var(--accent-color);
}

.recent-posts-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-posts-widget .post-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem; /* 20px */
}

.recent-posts-widget .post-item:last-child {
  margin-bottom: 0;
}

.recent-posts-widget .post-item h4 {
  font-size: 1rem; /* 16px */
  font-weight: 600;
  margin-bottom: 0.3125rem; /* 5px */
} 

.recent-posts-widget .post-item h4 a {
  color: var(--default-color);
  transition: 0.3s;
}

.recent-posts-widget .post-item h4 a:hover {
  color: var(--accent-color);
}

.recent-posts-widget .post-item time {
  display: block;
  font-style: italic;
  font-size: 0.875rem; /* 14px */
  color: color-mix(in srgb, var(--default-color), transparent 50%);
} 

.tags-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags-widget ul li {
  display: inline-block;
}

.tags-widget ul a {
  background-color: color-mix(in srgb, var(--default-color), transparent 94%);
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  border-radius: 3.125rem; /* 50px */
  font-size: 0.875rem; /* 14px */
  padding: 0.3125rem 0.9375rem; /* 5px 15px */
  margin: 0 0.375rem 0.5rem 0; /* 0 6px 8px 0 */
  display: inline-block;
  transition: 0.3s;
} 

.tags-widget ul a:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.tags-widget ul a span {
  padding-left: 0.3125rem; /* 5px */
  color: color-mix(in srgb, var(--default-color), transparent 60%);
  font-size: 0.875rem; /* 14px */
} 

.subscribe-widget form {
  position: relative;
}

.subscribe-widget .form-control {
  font-size: 0.875rem; /* 14px */
  height: 2.625rem; /* 42px */
  border: 2px solid color-mix(in srgb, var(--default-color), transparent 40%);
  background: none;
  color: var(--heading-color);
  padding-right: 2.5rem; /* 40px */
}

.subscribe-widget .form-control:focus {
  border-color: color-mix(in srgb, var(--default-color), transparent 10%);
}

.subscribe-widget .form-control::-webkit-input-placeholder {
  color: color-mix(in srgb, var(--heading-color), transparent 70%);
}

.subscribe-widget .form-control::-moz-placeholder {
  color: color-mix(in srgb, var(--heading-color), transparent 70%);
}

.subscribe-widget .form-control:-ms-input-placeholder {
  color: color-mix(in srgb, var(--heading-color), transparent 70%);
}

.subscribe-widget .form-control:-moz-placeholder {
  color: color-mix(in srgb, var(--heading-color), transparent 70%);
}

.subscribe-widget .btn-link {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  background-color: none;
  border-color: none;
  position: absolute;
  line-height: 0;
  color: color-mix(in srgb, var(--heading-color), transparent 20%);
  top: 1.25rem; /* 20px */
  right: 0.625rem; /* 10px */
  transform: translateY(-50%) rotate(0deg);
}

.subscribe-widget .btn-link:hover,
.subscribe-widget .btn-link:focus,
.subscribe-widget .btn-link:active {
  text-decoration: none;
}

.subscribe-widget .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 0.9375rem; /* 15px */
  margin-top: 0.625rem; /* 10px */
  font-weight: 600;
  border-radius: 0.25rem; /* 4px */
}

.subscribe-widget .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 0.9375rem; /* 15px */
  margin-top: 0.625rem; /* 10px */
  font-weight: 600;
  border-radius: 0.25rem; /* 4px */
}

.subscribe-widget .loading {
  display: none;
  background: var(--background-color);
  text-align: center;
  padding: 0.9375rem; /* 15px */
  margin-top: 0.625rem; /* 10px */
}

.subscribe-widget .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  margin: 0 0.625rem -0.375rem 0; /* 0 10px -6px 0 */
  border: 0.1875rem solid var(--accent-color); /* 3px */
  border-top-color: var(--background-color);
  animation: subscription-loading 1s linear infinite;
}

@keyframes subscription-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}