# SPDX-FileCopyrightText: 2026 The freelance-persona_theme Project Contributors
#
# SPDX-License-Identifier: MIT

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
