# SPDX-FileCopyrightText: 2026 2026 The freelance-persona_theme Project Contributors
#
# SPDX-License-Identifier: MIT

######################################################
## Ignore files the user might axidentally commit
######################################################

*.jpg
*.png
*.webp


#####################################################
## Ignore patterns for Theme Development
#####################################################

# Dependencies
node_modules/

# Build Outputs
dist/
.astro/
coverage/

# Typescript
*.tsbuildinfo

# Environment
.env
.env.*